.RecipeCard {
  &-image {
    // object-fit: contain;
    max-width: 100%;
  }
  &-by {
    color: pink;
    font-size: 0.75em;
  }
  &-blurb {
    font-size: 0.75em;
    color: green;
  }

  &-cooktime {
    color: red;
    border: 1px dashed red;
  }
  h1 {
    font-size: 90%;
    color: orange;
  }
}
